@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap);

@tailwind base;

@tailwind components;

:root {
    font-size: 18px;
}

body {
    @apply font-opensans text-dark-cyan;
}

.bg-window {
    @apply bg-fixed bg-cover bg-pale-cyan;
    background-image: url(./images/bg-hero-mobile.svg);
}



/***********************/
/******* HEADER ********/
/***********************/

.header {
    @apply flex flex-wrap items-center justify-center px-0 py-4;
}

.header > div:first-child, 
.header > div:nth-child(2) {
    @apply w-5/12;
}

.header > div:nth-child(2) {
    @apply max-w-md text-right;
}

.button-white {
    @apply w-3/4 py-2 text-sm font-bold bg-white rounded-full shadow-lg outline-none;
}

.button-white:active {
    @apply border-0;
}



/***********************/
/**** FIRST CONTACT ****/
/***********************/

.first-contact {
    @apply flex flex-col items-center justify-center px-6 pb-6 mt-8;
}

.first-contact > div:first-child {
    @apply text-center;
}

.first-contact > div:first-child > h2 {
    @apply text-2xl font-bold font-poppins;
}

.first-contact > div:first-child > div {
    @apply w-full mx-auto mt-4;
}

.first-contact > div:first-child > p {
    @apply py-10;
}

.first-contact > img {
    @apply w-full pt-16 pb-6;
}

.button-pink {
    @apply w-full px-0 py-4 text-sm font-bold rounded-full shadow-lg outline-none bg-strong-pink text-pale-cyan;
}

.button-pink:active {
    @apply border-0;
}



/***********************/
/****** BENEFITS *******/
/***********************/

.benefits {
    @apply flex flex-col items-center justify-center py-12;
}

.card,
.card-reverse {
    @apply max-w-sm mx-auto my-4 overflow-hidden text-center bg-white rounded-xl;
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.1);
}

.card > img, 
.card-reverse > img {
    @apply px-8 py-6 pt-12;
}

.card > div > h3, 
.card-reverse > div > h3 {
    @apply py-3 font-bold;
}

.card > div > p, 
.card-reverse > div > p {
    @apply px-5 pb-12 text-xs text-grayish-blue;
}


/***********************/
/******* FOOTER ********/
/***********************/

.footer {
    @apply mt-32 bg-dark-cyan text-pale-cyan;
}

.links {
    @apply flex flex-wrap justify-center;
}

.ad {
    @apply absolute max-w-sm -mt-20;
}

.ad > div {
    @apply relative mx-auto overflow-hidden text-center bg-white rounded-xl;
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.1);
}

.ad > div > h3 {
    @apply px-4 py-6 text-sm font-bold text-black;
}

.ad > div > button {
    @apply w-3/5 px-0 py-3 mb-8 font-bold rounded-full shadow-lg outline-none bg-strong-pink text-2xs text-pale-cyan;
}

.ad > div > button:active {
    @apply border-0;
}

.logo-container {
    @apply w-full mt-32 mb-6;
}

.logo-container > img {
    @apply h-6;
}

.contact-info {
    @apply w-full mb-12 text-sm;
}

.addresses {
    @apply flex flex-wrap justify-between mb-4;
}

.addresses > div {
    @apply w-2/12;
}

.addresses > p {
    @apply w-10/12 mb-2;
}

.site-map {
    @apply flex flex-wrap justify-start w-full;
}

.site-map > ul {
    @apply w-full;
}

.socials {
    @apply w-full mt-8 mb-4;
}

.socials > ul {
    @apply flex justify-center;
}

.social-icon {
    @apply w-10 h-10 p-2 border rounded-full;
}

.attribution {
    @apply pb-4 text-xs text-center;
}

.attribution a {
    @apply text-grayish-blue;
}

.attribution a:hover {
    @apply text-strong-pink;
}





@screen sm {

    .header > div:first-child > img {
        @apply w-1/2;
    }

    .button-white {
        @apply w-1/2;
    }

    .first-contact {
        @apply px-20;
    }

    .first-contact > div:first-child > div {
        @apply w-3/4;
    }

    .links {
        @apply px-32 text-center;
    }

    .ad {
        @apply w-full;
    }

    .logo-container > img {
        @apply mx-auto;
    }
    
    .addresses > div {
        @apply w-1/12;
    }

    .addresses > p {
        @apply w-11/12;
    }
}



@screen lg {

    .header {
        @apply justify-between px-12 py-12;
    }

    .header > div:first-child, 
    .header > div:nth-child(2) {
        @apply w-1/2;
    }

    .header > div:first-child > img {
        @apply w-2/5;
    }

    .header > div:nth-child(2) {
        @apply pl-24;
    }

    .first-contact {
        @apply flex-row px-12 pb-16 mt-0;
    }

    .first-contact > div:first-child {
        @apply w-1/2 py-6 pr-10 text-left;
    }

    .first-contact > div:first-child > h2 {
        @apply text-3xl;
    }

    .first-contact > div:first-child > div {
        @apply w-3/5 ml-0;
    }

    .first-contact > div:first-child > p {
        @apply py-4;
    }

    .first-contact > img {
        @apply w-1/2 pt-0 pb-0;
    }

    .button-pink {
        @apply px-6;
    }
    
    .benefits {
        @apply px-12;
    }

    .card {
        @apply flex-row;
    }

    .card-reverse {
        @apply flex-row-reverse;
    }

    .card, 
    .card-reverse {
        @apply flex items-center mx-0 text-left max-w-none;
    }

    .card > img, .card-reverse > img {
        @apply w-1/2 px-12 py-16;
    }

    .card > div {
        @apply px-12;
    }

    .card-reverse > div {
        @apply pl-16;
    }

    .card > div, 
    .card-reverse > div {
        @apply w-1/2;
    }
    
    .card > div > h3, 
    .card-reverse > div > h3 {
        @apply text-2xl;
    }

    .card > div > p, 
    .card-reverse > div > p {
        @apply px-0 text-base;
    }

    .links {
        @apply w-full px-0 text-left;
    }

    .ad {
        @apply max-w-lg -mt-40;
    }

    .ad > div {
        @apply mx-0 my-12;
    }

    .ad > div > h3 {
        @apply pt-10 text-xl;
    }

    .ad > div > button {
        @apply w-2/5 py-4 mx-4 text-xs;
    }

    .logo-container {
        @apply w-full mb-10;
    }

    .logo-container > img {
        @apply h-8 mx-12;
    }
    
    .contact-info {
        @apply w-1/3 pb-0 pl-12;
    }

    .addresses > p {
        @apply pl-6;
    }

    .site-map {
        @apply w-2/3;
    }

    .site-map > ul {
        @apply w-1/3 pb-0 pl-16;
    }

    .socials {
        @apply w-1/3 pb-0 mt-0;
    }

    .socials > ul {
        @apply justify-start;
    }

    .attribution {
        @apply pr-12 text-right;
    }
}



@screen xl {

    .first-contact > div:first-child > div {
        @apply w-1/2;
    }

    .benefits {
        @apply pb-32;
    }
    
    .ad {
        @apply max-w-2xl -mt-48;
    }

    .ad > div {
        @apply py-4;
    }

    .ad > div > h3 {
        @apply text-2xl;
    }

    .ad > div > button {
        @apply text-base;
    }

    .logo-container {
        @apply mt-40;
    }

    .site-map > ul:first-child {
        @apply pl-32;
    }

    .attribution {
        @apply pr-24;
    }
}

@tailwind utilities;
